<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Plant Care FAQ</title>
	<link rel="icon" href="../Resources/Images/plantIcon.png">
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../Resources/CSS/my_style.css" rel="stylesheet">
  </head>

<body>
    <!-- Top Nav Bar/Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./Search.html">
            <img class="img-fluid" src="../Resources/Images/plantIcon.png" alt="" width="30px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./Search.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./Survey.html">Find My Plant Survey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./FAQ.html">Plant Care FAQ</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-dark">FAQ</h1>


        <!-- using collapse-->
        <button class="btn btn-success" type="button" style="width: 75%" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">
            Why are my leaves turning yellow?
        </button>
        <div class="collapse" id="collapse1">
            <div class="card card-body" style="width: 75%">
              <p>There are many reasons why your leaves could be turning yellow. Plant leaves can turn yellow due to moisture stress. Moisture stress can be caused by over-watering or under-watering.</p>
              <a href="https://www.ambius.com/indoor-plants/why-plants-turn-yellow/">Link to full answer</a>

            </div>
        </div>
        <button class="btn btn-success" type="button" style="width: 75%" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseExample">
            How do I know if my plant is getting enough sunlight?
        </button>
        <div class="collapse" id="collapse2">
            <div class="card card-body" style="width: 75%">
              <p>If your plant's leaves seem dried out then, it is likely that it is recieving too much sunlight.
              However if the leaves are yellowing then it is likely that it needs more sunlight.
              </p>
              <a href="https://medium.com/welltended/plant-care-101-ingredients-your-plant-needs-to-thrive-light-3d22543a2095">Link to full answer</a>



            </div>
        </div>
        <button class="btn btn-success" type="button" style="width: 75%" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseExample">
            How do I know if my plant is getting enough water?
        </button>
        <div class="collapse" id="collapse3">
            <div class="card card-body" style="width: 75%">
                <P>
              Wilting and dead leaf tips can mean that your plant is not getting enough water. Your plant may also grow at a slower rate if
              it doesn't get enough water. </P>
              <a href="https://www.gardeningknowhow.com/plant-problems/environmental/under-watering.htm">Link to full answer</a>

            </div>
        </div>
        <button class="btn btn-success" type="button" style="width: 75%" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseExample">
            What are some gardening tips for beginners?
        </button>
        <div class="collapse" id="collapse4">
            <div class="card card-body" style="width: 75%">
              <p>Some tips for beginners are pay attention to where you place your plant and how much sunlight it will recieve. Make sure that
                  your plant is getting enough water. Choose the right plant for you.
              </p>
              <a href="https://www.miraclegro.com/en-us/library/gardening-basics/10-top-gardening-tips-beginners">Link to full answer</a>

            </div>
        </div>
    </div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../Resources/JavaScript/scripts.js"></script>
</body>
</html>
