<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><% my_title %></title>
	
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<% if(typeof local_css == 'string' && local_css){ %>
	 <link href="../resources/css/<%=local_css%>" rel="stylesheet">
	<% } %>
    <!-- Custom styles for this template -->
	<link href="../resources/css/my_style.css" rel="stylesheet">
	
  </head>
  <body>