	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/home">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="/home">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/team_stats">Season Stats</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/player_info">Player Information</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>
